<footer class="flex flex-col items-center p-20 md:flex md:items-start md:mx-80">
    <div class="flex  flex-col  items-center gap-8 md:items-start">
        <div class="">
            <h2 class="text-3xl font-bold">Let&#x27;s <span class="bg-yellow-200">work together</span></h2>
        </div>
        <a class="border-2 border-black px-[20px] py-[10px] bg-gray-700 uppercase text-white rounded hover:bg-gray-800"
            href="mailto:cbv934@gmail.com?subject=Namaste!">
            <div>Email me</div>
        </a>
    </div>
    <div class="flex items-center flex-col mt-40 md:items-start">
        <div>cbhere</div>
        <p class="opacity-80">Developer</p>
    </div>
    <div class="flex items-center gap-4 mt-3">
        <a href="https://www.linkedin.com/in/chandrabhushan-vishwakarma-7583652a0/" target="_blank"
            class="border-2 p-1 transition-all duration-300 hover:scale-75"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/cb-here" target="_blank"
            class="border-2 p-1 transition-all duration-300 hover:scale-75"><i class="fa-brands fa-square-github"></i></a>
    </div>
    </div>
</footer>  
<script src="/js/script.js"></script>
</body>
</html>